<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-1234">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pictures</span>
            <!-- <h2 class="cs-title">Let’s See Our Latest Project</h2> -->
            <!-- <p class="cs-text">
                In the new era of technology we look in the future with certainty and for any post types, or just they are so much great of all to a program.
            </p> -->
        </div>
        <div class="cs-gallery">
            <div class="cs-flex">
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://i.postimg.cc/j5126fFQ/david-proof-0010.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://i.postimg.cc/j5126fFQ/david-proof-0010.jpg">
                    <img loading="lazy" decoding="async" src="https://i.postimg.cc/j5126fFQ/david-proof-0010.jpg" alt="person" width="360" height="420">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://i.postimg.cc/Vk5PbpWb/david-0138.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://i.postimg.cc/Vk5PbpWb/david-0138.jpg">
                    <img loading="lazy" decoding="async" src="https://i.postimg.cc/Vk5PbpWb/david-0138.jpg" alt="person" width="360" height="240">
                </picture>
            </div>
            <picture class="cs-picture cs-row">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://i.postimg.cc/5yKGb5kF/IMG-1107.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://i.postimg.cc/5yKGb5kF/IMG-1107.jpg">
                <img loading="lazy" decoding="async" src="https://i.postimg.cc/5yKGb5kF/IMG-1107.jpg" alt="person" width="360" height="520">
            </picture>
            <div class="cs-flex">
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://i.postimg.cc/mDykXkpn/IMG-1105.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://i.postimg.cc/mDykXkpn/IMG-1105.jpg">
                    <img loading="lazy" decoding="async" src="https://i.postimg.cc/mDykXkpn/IMG-1105.jpg" alt="person" width="360" height="420">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://i.postimg.cc/cC8xqJFZ/IMG-1106.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://i.postimg.cc/cC8xqJFZ/IMG-1106.jpg">
                    <img loading="lazy" decoding="async" src="https://i.postimg.cc/cC8xqJFZ/IMG-1106.jpg" alt="person" width="360" height="240">
                </picture>
            </div>
            <picture class="cs-picture cs-row">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://i.postimg.cc/Kcnc513r/IMG-1104.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://i.postimg.cc/Kcnc513r/IMG-1104.jpg">
                <img loading="lazy" decoding="async" src="https://i.postimg.cc/Kcnc513r/IMG-1104.jpg" alt="person" width="360" height="520">
            </picture>
            <div class="cs-flex">
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://i.postimg.cc/4Nq8Nxwq/IMG-1070.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://i.postimg.cc/4Nq8Nxwq/IMG-1070.jpg">
                    <img loading="lazy" decoding="async" src="https://i.postimg.cc/4Nq8Nxwq/IMG-1070.jpg" alt="person" width="360" height="420">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://i.postimg.cc/yxqmCD7y/david-proof-0192.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://i.postimg.cc/yxqmCD7y/david-proof-0192.jpg">
                    <img loading="lazy" decoding="async" src="https://i.postimg.cc/yxqmCD7y/david-proof-0192.jpg" alt="person" width="360" height="240">
                </picture>
            </div>
        </div>
    </div>
</section>
                                